<div class="conteiner">
    <h1>Event List</h1>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Event Time</th>
            <th>Event Message</th>
            <th>Author</th>
        </tr>
        {% for event in events_list %}
            <tr>
                <td>{{event.event_name}}</td>
                <td>{{event.event_date}}</td>
                <td>{{event.event_time}}</td>
                <td>{{event.event_message}}</td>
                <td>{{event.author}}</td>
            </tr>
        {% endfor %}        
    </table>

    
</div>