<header>
    <!-- Navbar -->
    <i class="fa-thin fa-robot"></i>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
        <i class="fa-thin fa-robot"></i>
  
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'web:home' %}">
              <button class="btn btn-primary me-3" type="button">Cadastrar Evento</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'web:events' %}">
              <button class="btn btn-primary me-3" type="button">Eventos Cadastrados</button>
            </a>
          </li>
        </ul>
        <!-- Left links -->
        {% if user.is_authenticated %}
            </div>
            <div class="d-flex align-items-center">
                <!--
                <button action="{% url 'login' %} "data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                    Perfil
                </button>
                -->
                <Form method="POST">{% csrf_token %}
                    <button formaction="{% url 'logout' %}" data-mdb-ripple-init type="submit" class="btn btn-danger me-3">
                        Sair
                    </button>
                </Form>                   
            </div>
        {% else %}
            <div class="d-flex align-items-center">
                <a href="{% url 'login' %}" class="">
                    <button data-mdb-ripple-init type="button" class="btn btn-success me-3">
                        Login
                    </button>
                </a>
                <a href="{% url 'accounts:register' %}">
                    <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                        Registrar
                    </button>
                </a>
        {% endif %}
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

</header>